<h1>I love tacos!</h1>
<p>There are so many tacos</p>

<%
fillings = ["Carnitas", "El Pastor", "Pescado", "Avocado"]
%>

<% for filling in fillings%>
  <li><%= filling%></li>
<% end %>

<!-- i'm a comment -->

<ul>
  <li>Avocado</li>
  <li>cilantro</li>
  <li>carne asada</li>
  <li>onion</li>
  <li>salsa</li>
  <li>corn tortilla</li>
</ul>